{% extends 'base.html.twig' %}

{% block title %}Hello Mot De passe oublier !{% endblock %}

{% block body %}
<h1>Changement de mot de passe</h1>

{% if error is defined %}
    <p class="error">{{ error }}</p>
{% endif %}

<form method="post">
    <label>Nouveau mot de passe</label>
    <input type="password" name="password" required>

    <label>Confirmer le mot de passe</label>
    <input type="password" name="password2" required>

    <label>Code reçu par email</label>
    <input type="number" name="code" required>

    <button type="submit">Sauvegarder</button>
</form>

{% endblock %}
